PORT=5000
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=
PYTHON_AI_URL=http://localhost:8080
PYTHON_AI_TIMEOUT_MS=120000
AUTODOCS_SHARED_SECRET=changeme
NODE_ENV=development
